{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-4">
            <h4>Microsoft Graph</h4>
                <p>Fetching few users from Azure Active Directory using Microsoft Graph</p>
            <div class="alert alert-success" role="alert">
                <table>
                {% for user in users %}
                   <tr>
                       <th> UserPrincipalName: {{ user['userPrincipalName'] }} </th>
                   </tr>
                {% endfor %}
                </table>
            </div>
        </div>
</div>
    <div class="col-md-4">
         <h4>Python authentication for Microsoft Graph</h4>
            <p>The sample shows how to use the Microsoft Azure Active Directory Authentication Library (ADAL) for Python for authentication to Microsoft Graph</p>
           <p><a class="btn btn-info" href="https://docs.microsoft.com/en-us/samples/microsoftgraph/python-sample-auth/python-authentication-samples-for-microsoft-graph/" target="_blank">Learn more  &raquo;</a></p>
    </div>
        <div class="col-md-4">
        <h4>Get started with Microsoft Graph and Python </h4>
        <p> Find some Microsoft Graph and Python code samples </p>
        <p><a href="https://developer.microsoft.com/en-us/graph/get-started/python" class="btn btn-info" target="_blank">Learn more &raquo;</a></p>
      </div>

        <div>
        <div class="col-md-4">
         <h4> Microsoft Graph API queries </h4>
         <p><a class="btn btn-info" href="https://docs.microsoft.com/en-us/graph/query-parameters" target="_blank">Learn more  &raquo;</a></p>
        </div>

</div>
 <img src="/static/images/microsoft_graph.png" alt="Microsoft Graph" width=400 height=195/>
{% endblock %}