{% extends "layout.html" %}
{% block content %}
<h5>Asyncpg test Register and fetch users from PostgreSQL Database</h5>
    {% if user %}
       <pre style="color: blue">{{user}} </pre>
    {% endif %}

    {% if error %}
           <pre style="color: red">Warning: {{error}}</pre>
    {% endif %}
<div class="container" align="center" style="width:600px">
  <h3>Please fill in this form to create an account</h3>
  <form action="/register" method="POST" class="register">
    <div class="form-group">
      <label for="firstname">First name:</label>
      <input type="text" class="form-control" id="firstname" placeholder="First Name,letters 2-10"
             name="firstname" pattern="[A-Za-z]{2,10}" required >
    </div>
       <div class="form-group">
      <label for="lastname">Last name:</label>
      <input type="text" class="form-control" id="lastname" placeholder="Last Name,letters 2-10"
             name="lastname" pattern="[A-Za-z]{2,10}" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
      <label for="plain_pass">Password</label>
      <input type="password" class="form-control" id="plain_pass" placeholder="Password" name="plain_pass" required>
    </div>
     <button type="submit" class="btn btn-info">Register</button>
  </form>
 </div>




{% endblock %}