{% extends "layout.html" %}
{% block content %}

<div align="center">
    <div class="row">
         <div class="col-md-4">
         <p>Fetching some test data from Azure SQL database</p>
                <table>
                {% for k in countries %}
                   <tr>
                       <th> {{ k }} </th>
                   </tr>
                {% endfor %}
             </table>
         </div>
          <form action="/users" method="POST" class="register">
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="country" placeholder="country" name="country"
                        pattern="[A-Za-z]{2,12}" required>
                </div>
                   <div class="form-group">
                  <label for="capital">Capital</label>
                  <input type="text" class="form-control" id="capital" placeholder="capital"
                         pattern="[A-Za-z]{2,12}" required name="capital">
                </div>
                 <button type="submit" class="btn btn-info">Save</button>
        </form>
         <div class="col-md-4">
         <h4>Azure SQL</h4>
         <p>Use Python to query a database using pyodbc</p>
         <p><a class="btn btn-info" href="https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-python?tabs=windows" target="_blank"> Learn more &raquo;</a></p>
          <h4>Asyncpg PostgreSQL</h4>
          <p>Asyncpg is fast PostgreSQL Database Client Library designed specifically for PostgreSQL and Python/asyncio </p>
          <p><a class="btn btn-info" href="https://github.com/MagicStack/asyncpg" target="_blank">Learn more &raquo;</a></p>
         </div>
     </div>
 {% if error %}
     <pre style="color: red">Warning: {{error}}</pre>
  {% endif %}
</div>

{% endblock %}